<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title class="weui-actionsheet weui-actionsheet__title">微信考勤-学生注册页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.bootcss.com/weui/1.1.1/style/weui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css}"/>
</head>
<body class="toolbar title">


<form id="student_register" action="/wechat/register/student" method="post">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">学生学号</label></div>
            <div class="weui-cell__bd">
                <input name="studentId" class="weui-input" type="number" pattern="[0-9]{13,16}" placeholder="请输入学生学号"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">学生姓名</label></div>
            <div class="weui-cell__bd">
                <input required="true" name="studentName" class="weui-input" type="text"
                       pattern="^[a-zA-Z-\u4E00-\u9FA5.•・·]{1,50}$"  maxlength="11" placeholder="请输入学生姓名"/>
            </div>
        </div>
        <input th:name="wechatId" type="hidden" th:value="${wechatId}"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="图片1"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="0"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="图片2"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="0"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="图片3"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="0"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="图片4"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="0"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="图片5"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="0"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="音频1"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="1"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="音频2"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="1"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="音频3"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="1"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="音频4"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="1"/>
        <input th:name="featureInfos.featurePath" type="hidden" th:value="音频5"/>
        <input th:name="featureInfos.featureType" type="hidden" th:value="1"/>


    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">面部信息上传</p>
                        <div class="weui-uploader__info">0/5</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">-->
                                <!--<div class="weui-uploader__factiontent">-->
                                    <!--<i class="weui-icon-warn"></i>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">-->
                                <!--<div class="weui-uploader__factiontent">50%</div>-->
                            <!--</li>-->
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">声纹信息上传</p>
                        <div class="weui-uploader__info">0/5</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                            <!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">-->
                            <!--<div class="weui-uploader__factiontent">-->
                            <!--<i class="weui-icon-warn"></i>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">-->
                            <!--<div class="weui-uploader__factiontent">50%</div>-->
                            <!--</li>-->
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a href="javascript:register()" class="weui-btn weui-btn_primary" id="showTooltips">注册</a>
</form>


<script type="text/javascript" th:src="@{//cdn.bootcss.com/jquery/1.11.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js}"></script>
<script type="text/javascript" th:src="@{//res.wx.qq.com/open/js/jweixin-1.2.0.js}"></script>
<script>
    function register() {
        $(student_register).submit();
    }
</script>
</body>
</html>